.gitignore.bak
.Rproj.user
.Rhistory
.RData
.Ruserdata
randomInputsPhysicsExam-concordance.tex
randomInputsPhysicsExam.aux
randomInputsPhysicsExam.fdb_latexmk
randomInputsPhysicsExam.fls
randomInputsPhysicsExam.out
randomInputsPhysicsExam.pdf
randomInputsPhysicsExam.qsl
randomInputsPhysicsExam.sol
randomInputsPhysicsExam.tex
randomInputsPhysicsExam_rt.sav
randomInputsPhysicsExam_xdefs.cut
randomInputsPhysicsExams.Rproj
reduced_sqrt2.R