.Rproj.user
.Rhistory
.RData
.Ruserdata
randomInputsPhysicExam-concordance.tex
randomInputsPhysicExam.aux
randomInputsPhysicExam.fdb_latexmk
randomInputsPhysicExam.fls
randomInputsPhysicExam.out
randomInputsPhysicExam.pdf
randomInputsPhysicExam.qsl
randomInputsPhysicExam.sol
randomInputsPhysicExam.tex
randomInputsPhysicExam_rt.sav
randomInputsPhysicExam_xdefs.cut
randomInputsPhysicsExams.Rproj